.body_content {
    background-color:#2A2C2F;
    /*width: 100px;*/
    height: 100px;
}

.page{
    max-width: 1280px;
    min-width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    background-image: url(./img/LOGO.jpg);
    width: 176px;
    height: 52px;
    background-size: 176px 52px;
}

.header_lang {
    color: white
}